.row
  .col-xs-3
  .col-xs-6.admin-text
    =form_for @content do |f|
      %fieldset
        %legend Edit A Content
        =if @content.errors.any?
          %h2 Errors:
          %ul
            = @content.errors.full_messages.each do |m|
              %li=m
        .row
          .col-xs-4
            - if current_user.role == "admin"
              =f.label :text
            %p
              %small
                Basic HTML tags supported. Be careful with any that could affect the page layout, such as &ltdiv&gt.
                Recommended tags would include: &lta href = "whatever.com/whatever"&gtstuff&lt/a&gt (Makes a link).
                <a href="http://www.w3schools.com/tags/" target="new">W3 Schools</a> is an excellent reference.
          .col-xs-4
            =f.text_area :text, :cols => 20, :rows => 7
          .col-xs-4
        - if current_user.role == "admin"
          .row
            .col-xs-4
              =f.label :identifier
            .col-xs-4
              =f.text_field :identifier
            .col-xs-4
        .row
          .col-xs-12
            =f.submit "Update This Content"
  .col-xs-3
