.row
  .col-xs-3
  .col-xs-6.admin-text
    = form_for @content do |f|
      %fieldset
        %legend Create a Content
        = if @content.errors.any?
          .row
            .col-xs-12
              %h2 Errors:
              %ul
                = @content.errors.full_messages.each do |m|
                  %li=m
        .row
          .col-xs-4
            =f.label :text
          .col-xs-4
            =f.text_area :text, :cols => 20, :rows => 7
          .col-xs-4
        .row
          .col-xs-4
            =f.label :identifier do
              Identifier <small class="asterisk">*</small>
          .col-xs-4
            =f.text_field :identifier, :required => true
          .col-xs-4
        .row
          .col-xs-12
            =f.submit "Create A Content"
        .row
          .col-xs-12
            %label.required-label
              %small.asterisk * required
  .col-xs-3
