.row.full-screen
  .col-xs-12.full-screen
    .sub-container-links
      .my-panel.light-panel.full-screen
      .my-panel.chemin.full-screen.full-image-back
      .my-panel.black-panel.full-screen
      .my-panel.content-panel.full-screen
        .wilsdorf-logo.full-image-back
        %ul#links-list
          %li
            %a{:href => "#"} Intro
            .link-underline
              .tha-line
                .tha-blue
              .tha-curve
                .tha-blue
          %li
            %a{:href => "#"} About
            .link-underline
              .tha-line
                .tha-blue
              .tha-curve
                .tha-blue
          %li
            %a{:href => "#"} Booking
            .link-underline
              .tha-line
                .tha-blue
              .tha-curve
                .tha-blue
          %li
            %a{:href => "#"} Shows
            .link-underline
              .tha-line
                .tha-blue
              .tha-curve
                .tha-blue
          %li
            %a{:href => "#"} Grooves
            .link-underline
              .tha-line
                .tha-blue
              .tha-curve
                .tha-blue
          %li
            %a{:href => "#"} Merch
            .link-underline
              .tha-line
                .tha-blue
              .tha-curve
                .tha-blue
          %li
            %a{:href => "#"} Communicate
            .link-underline
              .tha-line
                .tha-blue
              .tha-curve
                .tha-blue

    .sub-container-lp
      .my-panel.light-panel.full-screen
      .my-panel.chemin.full-screen.full-image-back
      .my-panel.black-panel.full-screen
      .my-panel.content-panel.full-screen
