- if @errors
  %ul
    - @errors.each do |error|
      %li
        %p.alert=error
- if @page.contents
  %ul
    - @page.contents.each do |content|
      %li
        %strong=link_to "#{content.identifier}", edit_content_path(content)

        - if current_user.role == "admin"
          %button.remove-content{ :data => { :page_id => @page.id, :content_id => content.id } } Remove

        %p
          =render inline: content.text
