- if @errors
  %ul
    - @errors.each do |error|
      %li
        %p.alert=error
- if @page.graphics
  - @page.graphics.each do |graphic|
    .row
      .col-xs-1
      .col-xs-5
        %strong=link_to "#{graphic.identifier}", edit_graphic_path(graphic)
        - if current_user.role == "admin"
          %button.remove-graphic{ :data => { :page_id => @page.id, :graphic_id => graphic.id } } Remove
      .col-xs-5.graphics-list-images
        =image_tag(asset_path(graphic.image), class: graphic.identifier)
      .col-xs-1

