.row
  .col-xs-3
  .col-xs-6.admin-text
    = form_for @graphic, html: { multipart: true } do |f|
      %fieldset
        %legend Edit a Graphic
        .row
          .col-xs-12.graphic-edit-image-display
            =image_tag(asset_path(@graphic.image))
        = if @graphic.errors.any?
          .row
            .col-xs-12
              %h2 Errors:
              %ul
                = @graphic.errors.full_messages.each do |m|
                  %li=m
        - if current_user.role == "admin"
          .row
            .col-xs-4
              =f.label :identifier do
                Identifier <small class="asterisk">*</small>
            .col-xs-4
              =f.text_field :identifier, :require => true
            .col-xs-4
        .row
          .col-xs-4
            =f.label :image do
              Change The Image
          .col-xs-4
            =f.file_field :image
          .col-xs-4
        .row
          .col-xs-12
            =f.submit "Update the Graphic"
    .col-xs-3
